<div class="container">
	<!-- ABOUT -->
	<h2 class="with-breaker animate-me fadeInUp">
		A propos <span>We are a team !</span>
	</h2>
	<div class="row">
		<div class="col-md-8">
			<h3>Historique</h3>
			<p class="text-justify"><span class="dropcap">F</span>ondé à Knoxville, TN., START est un concept immobilier
qui, en partenariat avec plusieurs spécialistes s'impose comme référence dans le design et l'aménagement résidentiel et commercial de luxe en Côte d'Ivoire et dans la sous-région.</p>
      <blockquote>
        START représente pour nous le début d’une aventure, la naissance d'un style et l'espoir d'un toit plus agréable.
      </blockquote>
		</div>
		<div class="col-md-4">
			<h3>Notre vision</h3>
			<blockquote>Être le partenaire choix pour les promoteurs immobiliers, les particuliers et les architectes dans le domaine de l’aménagement haut-standing en Afrique.</blockquote>
		</div>
	</div>
	<hr>
	<!-- TEAM SHORTCODE -->
	<div id="team-container" class="row">
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 1</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 2</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 3</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 4</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 5</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 6</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 7</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 8</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
	</div>
	<hr>
</div>
