<div class="container">
	<!-- ABOUT -->
	<h2 class="with-breaker animate-me fadeInUp">
		A propos <span>We are a team !</span>
	</h2>
	<div class="row">
		<div class="col-md-4">
			<h3>Historique</h3>
			<p class="text-justify"><span class="dropcap">U</span>ne chose est de VIVRE et une autre est de BIEN VIVRE.
Mais, bien vivre commence par un style, un goût pour la simplicité et la qualité, une
vision harmonisée de son habitation et de son environnement professionnel.</p>
      <p>
        C’est pour accompagner chacun dans son style de vie, son goût et sa vision que
START a été créée à Knoxville aux USA.
      </p>
      <p>
        Plus qu’une agence, START est par la qualité de son travail et de son équipe, un concept
immobilier personnalisé.
      </p>
		</div>
		<div class="col-md-4">
			<h3>Mission</h3>
			<p class="text-justify"><span class="dropcap">S</span>ouvent, entre le rêve et la réalité, il n’y a qu’un pas à franchir. Ainsi, START s’est-elle donnée pour mission de créer pour chacun de ses clients, son environnement
et son cadre de vie idéal.
      </p>
      <p>
        C’est pourquoi chaque travailleur chez START est choisi sur la base de sa capacité d’écoute et d’imagination, en plus de son savoir-faire ou de ses compétences, d’autant plus que notre première raison de vivre, c’est bien chacun de
nos clients.
      </p>
		</div>
		<div class="col-md-4">
			<h3>Notre vision</h3>
			<p class="text-justify"><span class="dropcap">E</span>n créant pour chacun de ses clients le style et le design d’un aménagement résidentiel ou professionnel de haut-standing voire de luxe, START entend participer
à la promotion du bien-être de tous.
      </p>
      <p>
        Dans cette perspective, elle se présente comme le partenaire de choix aussi bien pour les acteurs du secteur de l’immobilier que pour les particuliers.
      </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<h3>Equipe</h3>
			<p class="text-justify"><span class="dropcap">N</span>ous avons bel et bien conscience du défi que représente pour chacun de nos clients dans une société moderne et à identités croisées l’espoir d’une maison agréable et conviviale.</p>
      <p>
        C’est pourquoi START AFRIQUE est bâtie autour de personnes compétentes, dynamiques et expérimentées dans leur choix qualitatifs pour vous offrir une équipe qualifiée et passionnée, entièrement dédiée à la création et à la réalisation de vos aménagements résidentiels et professionnels de haut-standing.
      </p>
      <p>
        Plus qu’une agence, START est par la qualité de son travail et de son équipe, un concept
immobilier personnalisé.
      </p>
		</div>
		<div class="col-md-4">
			<h3>Valeurs</h3>
			<p class="text-justify"><span class="dropcap">S</span>TART est avant tout, un état d’esprit, car la qualité et la beauté d’une œuvre en dépendent.
      </p>
      <p>
        Le bon état d’esprit favorise la réactivité et la conception audacieuse de solutions créatives dans la mise en œuvre des projets d’aménagement résidentiels et professionnels.
      </p>
      <p>
        Qualité, expertise, efficacité, écoute, créativité et responsabilité sont donc les valeurs cultivées et partagées au sein de notre équipe.
      </p>
      <p>
        Ces valeurs constituent pour l'équipe un contrat moral auquel chaque membre adhère pleinement.
      </p>
		</div>
		<div class="col-md-4">
			<h3>Engagement</h3>
			<p class="text-justify"><span class="dropcap">S</span>TART s’engage à réaliser pour chaque client,tous ses travaux avec
professionnalisme et rigueur.
      </p>
      <p>
        Chaque projet étant unique, START garantit à chacun de ses clients un interlocuteur de compétent ayant d'excellentes aptitutes relationnelles, en vue d’atteindre les objectifs fixés.
      </p>
		</div>
	</div>
	<hr>
	<!-- TEAM SHORTCODE -->
	<div id="team-container" class="row">
		<!--<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 1</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 2</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 3</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 4</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 5</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 6</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 7</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>
		<div class="col-md-3 team-single">
			<img src="<%= asset_path 'front/team/01.jpg' %>" alt="Profile Image" class="animate-me bounceIn">
			<h3 class="center">Teammate 8</h3>
			<p>Duis condimentum dignissim porttitor. Nulla libero metus, mattis eget pellentesque nec, iaculis non libero.</p>
		</div>-->
	</div>
	<hr>
</div>
