<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="<%= completed_project_category_path %>">Nouvelle catégorie de projets</a></li>
    <li><a href="<%= completed_project_categories_path %>">Liste des catégories de projets</a></li>
</ul>
<!-- END BREADCRUMB -->


<div class="page-content-wrap">

  <!-- BEGIN ROW -->
  <div class="row">
    <div class="col-md-12">

      <!-- START DEFAULT DATATABLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Liste des <strong>catégories de projets</strong></h3>
          <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <%= notification_messages! %>
          <table class="table datatable">
            <thead>
              <tr>
                <th><%= CompletedProjectCategory.human_attribute_name("name") %></th>
                <th><%= CompletedProjectCategory.human_attribute_name("published") %></th>
                <th>Date de création</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @completed_project_categories.each do |completed_project_category| %>
                <tr>
                  <td>
                    <%= completed_project_category.name %>
                  </td>
                  <td>
                    <% if completed_project_category.published == false %>
                      <div class="list-group-status status-offline"></div>
                    <% else %>
                      <div class="list-group-status status-online"></div>
                    <% end %>
                  </td>
                  <td>
                    <%= completed_project_category.created_at.strftime("%d-%m-%Y") + " à " + completed_project_category.created_at.strftime("%Hh %Mmn") %>
                  </td>
                  <td>
                    <a href = "<%= edit_completed_project_category_path(completed_project_category.id) %>" style = "text-decoration: none;">
                      <span class="fa fa-pencil" style = "margin-right: 15px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editer le sujet"></span>
                    </a>
                    <% if completed_project_category.published == false %>
                      <a href = "<%= enable_completed_project_category_path(completed_project_category.id) %>">
                        <span class="fa fa-check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Activer la catégorie"></span>
                      </a>
                    <% else %>
                      <a href = "<%= disable_completed_project_category_path(completed_project_category.id) %>"  style = "text-decoration: none;">
                        <span class="fa fa-times-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Désactiver la catégorie"></span>
                      </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <!-- END DEFAULT DATATABLE -->
    </div>
  </div>
</div>
